<ul class="nav flex-row justify-content-end order-1 order-lg-2">
	<li class="nav-item ms-lg-2">
		<a href="#" class="navbar-nav-link navbar-nav-link-icon rounded-pill" data-bs-toggle="offcanvas" data-bs-target="#notifications">
			<i class="ph-bell"></i>
			<span class="badge bg-yellow text-black position-absolute top-0 end-0 translate-middle-top zindex-1 rounded-pill mt-1 me-1">0</span>
		</a>
	</li>

	<li class="nav-item nav-item-dropdown-lg dropdown ms-lg-2">
		<a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
			<div class="status-indicator-container">
				@if (ViewBag.ImageUrl != null)
				{
					<img src="@ViewBag.ImageUrl" class="w-32px h-32px rounded-pill" alt="">
				}else
				{
					<img src="~/LimitlessTheme/images/demo/users/face1.jpg" class="w-32px h-32px rounded-pill" alt="">
				}
				<span class="status-indicator bg-success"></span>
			</div>
			<span class="d-none d-lg-inline-block mx-lg-2">@User.Claims.Where(w => w.Type.Contains("givenname")).First().Value</span>
		</a>

		<div class="dropdown-menu dropdown-menu-end">
			<a href="/Admin/User/UserEditProfile/" class="dropdown-item">
				<i class="ph-user-circle me-2"></i>
				Profilim
			</a>
			@*<a href="#" class="dropdown-item">
			<i class="ph-currency-circle-dollar me-2"></i>
			My subscription
			</a>*@
			@*<a href="#" class="dropdown-item">
			<i class="ph-shopping-cart me-2"></i>
			Siparişlerim
			</a>*@
			<a href="#" class="dropdown-item">
				<i class="ph-envelope-open me-2"></i>
				Gelen Kutusu
				<span class="badge bg-primary rounded-pill ms-auto">0</span>
			</a>
			<div class="dropdown-divider"></div>
			@*<a href="#" class="dropdown-item">
			<i class="ph-gear me-2"></i>
			Hesap Ayarları
			</a>*@
			<a href="/Login/LogOut/" class="dropdown-item">
				<i class="ph-sign-out me-2"></i>
				Çıkış
			</a>
		</div>
	</li>
</ul>