@using SigortaApp.Web.Models
@model ResetPasswordViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="~/LimitlessTheme/fonts/inter/inter.css" rel="stylesheet" type="text/css">
    <link href="~/LimitlessTheme/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/LimitlessTheme/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/LimitlessTheme/demo/demo_configurator.js"></script>
    <script src="~/LimitlessTheme/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/LimitlessTheme/assets/js/app.js"></script>
    <!-- /theme JS files -->

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-dark navbar-static py-2">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="index.html" class="d-inline-flex align-items-center">
                    <img src="~/LimitlessTheme/images/logo_icon.svg" alt="">
                    <img src="~/LimitlessTheme/images/logo_text_light.svg" class="d-none d-sm-inline-block h-16px ms-3" alt="">
                </a>
            </div>

            <div class="d-flex justify-content-end align-items-center ms-auto">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a href="/RegisterUser/Index/" class="navbar-nav-link navbar-nav-link-icon rounded ms-1">
                            <div class="d-flex align-items-center mx-md-1">
                                <i class="ph-user-circle-plus"></i>
                                <span class="d-none d-md-inline-block ms-2">Kayıt Ol</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Login/Index2/" class="navbar-nav-link navbar-nav-link-icon rounded ms-1">
                            <div class="d-flex align-items-center mx-md-1">
                                <i class="ph-user-circle"></i>
                                <span class="d-none d-md-inline-block ms-2">Giriş</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Content area -->
                <div class="content d-flex justify-content-center align-items-center">

                    <!-- Password recovery form -->
                    @if (ViewBag.State == null)
                    {
                        <form class="login-form" asp-action="PasswordReset">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="text-center mb-3">
                                        <div class="d-inline-flex bg-primary bg-opacity-10 text-primary lh-1 rounded-pill p-3 mb-3 mt-1">
                                            <i class="ph-arrows-counter-clockwise ph-2x"></i>
                                        </div>
                                        <h5 class="mb-0">Şifreyi Yenile</h5>
                                        <span class="d-block text-muted">Şifre Yenileme linkini mailinize göndereceğiz.</span>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" asp-for="Email"></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="email" asp-for="Email" class="form-control" placeholder="test@test.com">
                                            <div class="form-control-feedback-icon">
                                                <i class="ph-at text-muted"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100">
                                        <i class="ph-arrow-counter-clockwise me-2"></i>
                                        Şifreyi Yenile
                                    </button>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        if (ViewBag.State)
                        {
                            <div class="alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.</div>
                        }
                        else
                        {
                            <div class="alert-success">Böyle bir e-posta bulunmamaktadır.</div>
                        }
                    }
                    <!-- /password recovery form -->

                </div>
                <!-- /content area -->
                <!-- Footer -->
                <div class="navbar navbar-sm navbar-footer border-top">
                    <div class="container-fluid">
                        <span style="margin:auto;"><b>Copyright &copy; 2023 Takım Yıldızı. Tüm hakları saklıdır.</b></span>
                    </div>
                </div>
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</body>
</html>
